@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif; }

button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem; }
  button:hover {
    transition: var(--mainTransition);
    cursor: pointer; }
