@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif; }

button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem; }
  button:hover {
    transition: var(--mainTransition);
    cursor: pointer; }

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9); }
  nav .col-sm-3 {
    width: 0; }
  nav .nav-icon,
  nav .logo {
    font-size: 1.25rem;
    cursor: pointer; }
  nav .logo {
    letter-spacing: 2px;
    margin: auto; }
    nav .logo .logo__primary {
      color: var(--primaryColor); }
  nav .cart-btn {
    position: relative; }
  nav .cart--items {
    position: absolute;
    top: -.1rem;
    right: .25rem;
    border-radius: 50%;
    background-color: var(--primaryColor);
    font-size: 12px;
    padding: 0 0.4rem; }

header {
  min-height: calc(100vh - 40px);
  background: url(../images/header.jpg) center/cover no-repeat; }
  header .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 3rem 4rem; }
    header .banner .banner-btn {
      letter-spacing: var(--mainSpacing);
      background-color: var(--primaryColor); }
      header .banner .banner-btn:hover {
        background-color: var(--mainWhite);
        color: var(--primaryColor);
        border: 1px solid var(--primaryColor); }

section.products .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto; }
  section.products .product-list .product-img-container {
    position: relative;
    overflow: hidden; }
    section.products .product-list .product-img-container img.product-img {
      display: block;
      width: 100%;
      min-height: 12rem;
      transition: var(--mainTransition); }
    section.products .product-list .product-img-container .bag-btn {
      position: absolute;
      top: 60%;
      right: 0;
      background: var(--primaryColor);
      border: none;
      letter-spacing: var(--mainSpacing);
      transition: var(--mainTransition);
      transform: translateX(101%); }
      section.products .product-list .product-img-container .bag-btn:hover {
        color: var(--mainWhite); }
    section.products .product-list .product-img-container:hover img.product-img {
      opacity: 0.7; }
    section.products .product-list .product-img-container:hover .bag-btn {
      transform: translateX(0); }
section.products h5,
section.products h6 {
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-top: .5rem; }
section.products h6 {
  color: var(--primaryColor); }

section.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: var(--mainTransition);
  background: rgba(240, 157, 81, 0.5); }
  section.cart-overlay .close-cart {
    font-size: 1.7rem;
    cursor: pointer; }
  section.cart-overlay .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 3;
    padding: 2.5rem;
    background: #e7e2dd;
    transition: var(--mainTransition); }
    section.cart-overlay .cart h5 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: var(--mainSpacing);
      margin-bottom: 2rem; }
  @media screen and (min-width: 768px) {
    section.cart-overlay .cart {
      width: 30vw;
      min-width: 450px; } }
  section.cart-overlay .cart-content .cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    align-items: center;
    margin: 1.5rem 0; }
    section.cart-overlay .cart-content .cart-item img {
      width: 6rem;
      height: 6rem; }
    section.cart-overlay .cart-content .cart-item .item--detail .item--name {
      text-transform: capitalize;
      letter-spacing: var(--mainSpacing); }
    section.cart-overlay .cart-content .cart-item .item--detail h6 {
      color: var(--primaryColor);
      margin: 0.5rem 0;
      letter-spacing: var(--mainSpacing); }
    section.cart-overlay .cart-content .cart-item .item--detail .remove--item {
      font-size: 0.85rem;
      color: grey;
      cursor: pointer; }
    section.cart-overlay .cart-content .cart-item .item--qty .fa-chevron-up,
    section.cart-overlay .cart-content .cart-item .item--qty .fa-chevron-down {
      color: var(--primaryColor);
      cursor: pointer; }
  section.cart-overlay .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing); }
    section.cart-overlay .cart-footer h6 {
      text-transform: capitalize;
      margin-bottom: 1rem; }
    section.cart-overlay .cart-footer .clear-btn {
      background-color: var(--primaryColor);
      letter-spacing: var(--mainSpacing); }
      section.cart-overlay .cart-footer .clear-btn:hover {
        color: var(--mainWhite); }

footer {
  background-color: rgba(0, 0, 0, 0.8); }
  footer span {
    color: var(--primaryColor); }
