@import '../scss/main.scss';

nav {
    position        : sticky;
    top             : 0;
    left            : 0;
    z-index         : 10000;
    background-color: rgba($color: #000000, $alpha: 0.9);

    .col-sm-3 {
        width: 0;
    }

    .nav-icon,
    .logo {
        font-size: 1.25rem;
        cursor   : pointer;
    }

    .logo {
        letter-spacing: 2px;
        margin        : auto;

        .logo__primary {
            color: var(--primaryColor);
        }
    }

    .cart-btn {
        position: relative;
    }

    .cart--items {
        position: absolute;
        top     : -.1rem;
        right   : .25rem;

        border-radius   : 50%;
        background-color: var(--primaryColor);

        font-size: 12px;
        padding  : 0 0.4rem;
    }
}

header {
    min-height: calc(100vh - 40px);

    background: url(../images/header.jpg) center/cover no-repeat;

    .banner {
        display        : flex;
        flex-direction : column;
        justify-content: space-around;
        align-items    : center;

        background: rgba(255, 255, 255, 0.7);
        padding   : 3rem 4rem;

        .banner-btn {
            letter-spacing  : var(--mainSpacing);
            background-color: var(--primaryColor);

            &:hover {
                background-color: var(--mainWhite);
                color           : var(--primaryColor);
                border          : 1px solid var(--primaryColor);
            }
        }
    }
}

section.products {
    .product-list {
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap      : 1.5rem;
        grid-row-gap         : 2rem;

        width    : 90vw;
        max-width: 1170px;

        margin: 0 auto;

        .product-img-container {
            position: relative;
            overflow: hidden;

            img.product-img {
                display   : block;
                width     : 100%;
                min-height: 12rem;
                transition: var(--mainTransition);
            }

            .bag-btn {
                position: absolute;
                top     : 60%;
                right   : 0;

                background: var(--primaryColor);
                border    : none;

                letter-spacing: var(--mainSpacing);

                transition: var(--mainTransition);
                transform : translateX(101%);

                &:hover {
                    color: var(--mainWhite);
                }
            }

            &:hover img.product-img {
                opacity: 0.7;
            }

            &:hover .bag-btn {
                transform: translateX(0);
            }
        }
    }

    h5,
    h6 {
        text-transform: capitalize;
        font-size     : 1rem;
        letter-spacing: var(--mainSpacing);
        text-align    : center;

        margin-top: .5rem;
    }

    h6 {
        color: var(--primaryColor);
    }
}

section.cart-overlay {
    position: fixed;
    top     : 0;
    right   : 0;

    width  : 100%;
    height : 100%;
    z-index: 2;

    transition: var(--mainTransition);
    background: rgba(240, 157, 81, 0.5);

    // visibility: hidden;

    .close-cart {
        font-size: 1.7rem;
        cursor   : pointer;
    }

    .cart {
        position: fixed;
        top     : 0;
        right   : 0;

        width   : 100%;
        height  : 100%;
        overflow-y: scroll;

        z-index: 3;
        padding: 2.5rem;

        background  : rgb(231, 226, 221);
        transition  : var(--mainTransition);
        // transform: translateX(100%);

        h5 {
            text-transform: capitalize;
            text-align    : center;

            letter-spacing: var(--mainSpacing);
            margin-bottom : 2rem;
        }
    }

    @media screen and (min-width: 768px) {
        .cart {
            width    : 30vw;
            min-width: 450px;
        }
    }

    .cart-content {
        .cart-item {
            display              : grid;
            grid-template-columns: auto 1fr auto;
            grid-column-gap      : 1.5rem;

            align-items          : center;
            margin: 1.5rem 0;

            img {
                width : 6rem;
                height: 6rem;
            }

            .item--detail {
                .item--name {
                    text-transform: capitalize;
                    letter-spacing: var(--mainSpacing);
                }

                h6 {
                    color         : var(--primaryColor);
                    margin        : 0.5rem 0;
                    letter-spacing: var(--mainSpacing);
                }

                .remove--item {
                    font-size: 0.85rem;
                    color    : grey;
                    cursor   : pointer;
                }
            }

            .item--qty {
                .fa-chevron-up,
                .fa-chevron-down {
                    color : var(--primaryColor);
                    cursor: pointer;
                }
            }
        }
    }

    .cart-footer {
        margin-top    : 2rem;
        letter-spacing: var(--mainSpacing);

        h6 {
            text-transform: capitalize;
            margin-bottom : 1rem;
        }

        .clear-btn {
            background-color: var(--primaryColor);
            letter-spacing: var(--mainSpacing);
            &:hover {
                color: var(--mainWhite);
            }
        }
    }

}

footer {
    background-color: rgba($color: #000000, $alpha: 0.8);

    span {
        color: var(--primaryColor);
    }
}